*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-bg-nav: #ff6900;
}

.debug{
    border: 1px dashed black;
}

.container{
    width: 70%;
    margin: 0 auto;
}


header{
    
    a{
        text-decoration: none;
        color: white;
    }
    .nav-menubg{
        background-color: var(--header-bg-nav);
    }
    .nav-menu{ 
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    
    img{
        width: 100px;
    };
}

main{
    .row{
        display: flex;
        flex-wrap: wrap;
        padding-top: 55px;
    }

    .col {
        width: calc(100%/12*4);
        padding: 10px 10px;
    }

    img{
        width: 100%;
    }
}