*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-bg-nav: #ff6900;
    --price-color: #ff0107;
    --sosten-color: #1d922e;
    --footer-bg: #1a1a1a;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.text-sm{
    font-size: small;
}

.price-c{
    color:var(--price-color) ;
}

.price-cut{
    text-decoration: line-through;
}

.discount, .sosten{
    padding: 5px 8px;
    color: white;
    position: relative;
}

.discount{
    background-color: var(--price-color);
    left: 0;
    bottom: 120px;
}

.sosten{
    background-color: var(--sosten-color);
    left: 3px;
    bottom: 120px;
}

header{
    
    a{
        text-decoration: none;
        color: white;
    }
    .nav-menubg{
        background-color: var(--header-bg-nav);
        position: fixed;
        left: 0;
        top: 0;
        z-index:1000 ;
        width: 100%;

    }
    .nav-menu{ 
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    img{
        width: 100px;
    };
}

main{

    .heart{
        background-color: white;
        padding: 5px;
        position: absolute;
        right: 0;
        top: 10px;
        z-index: 3;
        width: 20px;
        
    }

    h3{
        text-transform: uppercase;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        padding-top: 55px;
    }

    .col {
        width: calc(100%/12*4);
        padding: 10px 10px;
    }

    img{
        width: 100%;
    }

    .photo{
        position: relative;
    }

    #principal{
        position: absolute;
    }

    img#principal:hover{
        display: none;
    }
}

footer{
    .nav-footer-bg{
        background-color:var(--footer-bg);
    }
    
    .nav-footer{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        gap: 5px;

        .info{
            padding-top: 10px;
        }

    .icon{
        background-color: white;
        color: black;
        font-size: small;
        padding: 2px 2px;
    }
    }
}